/*Home Page*/
body{
  &.dark{
    background: $background-night;
  }
}
/*footer*/
body .pieDePagina {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 47px;
  font-size: 15px;
}
body .pieDePagina .redes .redesLogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
body .pieDePagina h3{
    color: black;
    body.dark &{
      color: $base-night;
  }
}
body .pieDePagina p {
    color: black;
    margin-top: 20px;
    body.dark &{
      color: $base-night;
  }
}
body .pieDePagina .redes .redesLogos li {
  margin: 15px;
}
.margen{
    margin-top: 23px;
    background-color: #572EE5;
    width: 100%;
    height: 5px;
}
