.misGifos
{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        margin-top: 2%;
    }

    h2{
        color: $base-color;
        font-family: $primary-font;
    }

    .gifos_nothing{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            margin-top: 42%;
            margin-bottom: 16%;
        }

        p{
            color: $secundary-color;
            font-family: $primary-font;
        }
    }
}

/* .carrete_gifos{
    display: flex;
    flex-wrap: wrap;

    img{
        padding: 10%;
    }
} */

/*nocturno

.misGifos
{
    display: flex;
    flex-direction: column;
    align-items: center;

        h2{
            color: $base-night;
        }
}

.carrete_gifos{
    display: flex;
    flex-wrap: wrap;

    img{
        padding: 10%;
    }
}

*/