@charset "UTF-8";
/*archivos principales*/
/*node-sass -w styles -o styles*/
/*variables*/
/*Modo nocturno*/
/*trending*/
.Trending_GIFOS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #F3F5F8; }
  body.dark .Trending_GIFOS {
    background: #222326 100%; }
  .Trending_GIFOS h2 {
    color: #572EE5;
    margin-top: 46px; }
    body.dark .Trending_GIFOS h2 {
      color: white; }
  .Trending_GIFOS p {
    color: black; }
    body.dark .Trending_GIFOS p {
      color: white; }
  .Trending_GIFOS .carrete_trending {
    margin-bottom: 80px; }
    body.dark .Trending_GIFOS .carrete_trending {
      color: white; }

/*mis gifos*/
.misGifos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .misGifos img {
    margin-top: 2%; }
  .misGifos h2 {
    color: #572ee5;
    font-family: "Montserrat"; }
  .misGifos .gifos_nothing {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .misGifos .gifos_nothing img {
      margin-top: 42%;
      margin-bottom: 16%; }
    .misGifos .gifos_nothing p {
      color: #50e3c2;
      font-family: "Montserrat"; }

/* .carrete_gifos{
    display: flex;
    flex-wrap: wrap;

    img{
        padding: 10%;
    }
} */
/*nocturno

.misGifos
{
    display: flex;
    flex-direction: column;
    align-items: center;

        h2{
            color: $base-night;
        }
}

.carrete_gifos{
    display: flex;
    flex-wrap: wrap;

    img{
        padding: 10%;
    }
}

*/
/*favoritos*/
.favoritos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .favoritos img {
    margin-top: 2%; }
  .favoritos h2 {
    color: #572ee5;
    font-family: "Montserrat"; }
  .favoritos .favorites_nothing {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .favoritos .favorites_nothing img {
      margin-top: 36%;
      margin-bottom: 10%; }
    .favoritos .favorites_nothing p {
      font-family: "Montserrat";
      color: #50e3c2; }

/* .carrete_favoritos
{
    display: flex;
    flex-wrap: wrap;
    
    img{
        padding: 10%;
    }
} */
/*nocturno

.favoritos
{
    display: flex;
    flex-direction: column;
    align-items: center;

        h2{      
            color: $base-night;
        }
}


.carrete_favoritos
{
    display: flex;
    flex-wrap: wrap;
    
    img{
        padding: 10%;
    }
}

*/
/*estlos generales*/
.botonVerMas {
  color: #572ee5;
  background: none;
  border: 1px solid #572ee5;
  border-radius: 25px;
  width: 127px;
  height: 50px; }

/*header*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  width: 100%;
  position: static;
  height: 45px;
  top: 0;
  padding: 10px 5%;
  border-top: 5px solid #572EE5; }

header img {
  float: left; }

header nav {
  float: right; }

header nav .menu ul {
  /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
  width: 100%;
  position: absolute;
  top: 80px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: rgba(87, 46, 229, 0.9);
  height: 0px;
  transition: height 0.5s ease; }

header nav .menu ul li {
  position: relative;
  font-family: Montserrat-Bold; }

header nav .menu ul li:hover {
  background: #572EE5; }
  body.dark header nav .menu ul li:hover {
    color: black; }

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 16px 5%;
  line-height: 60px;
  display: block;
  text-align: center; }
  body.dark header nav .menu ul li a {
    color: white; }

header nav .menu ul li a:hover {
  color: white 80%; }

/*animación del menu que se desplega*/
header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 100%;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out; }

header nav .menu {
  padding-top: 5px; }

/*checkbox transparente y en primer plano*/
header nav .menu input {
  display: block;
  width: 40px;
  height: 100%;
  opacity: 0;
  z-index: 2;
  position: absolute; }

/*span -lineas del menu hamburguesa-*/
header nav .menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #572EE5;
  z-index: 1;
  transform-origin: 3px 0px;
  transition: transform 0.5s ease, opacity 0.55s ease; }
  body.dark header nav .menu span {
    color: #37383C 100%; }

header nav .menu span:first-child {
  transform-origin: 0% 0%; }

header nav .menu span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/*movimiento a cruz*/
header nav .menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(2px, 1px); }

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

header nav .menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 0px); }

/*busqueda y principal*/
.seccionInicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px; }
  .seccionInicial h1 {
    text-align: center;
    width: 70%;
    color: #572ee5; }
    body.dark .seccionInicial h1 {
      color: white; }
    .seccionInicial h1 span {
      color: #50e3c2; }
  .seccionInicial .imagenPrincipal {
    display: flex;
    justify-content: center; }
    .seccionInicial .imagenPrincipal img {
      width: 80%;
      margin-top: 30px; }

.searchContainer {
  border: 1px solid #572ee5;
  border-radius: 27px;
  height: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0% 2% 0% 5%; }

.inputBusqueda {
  height: 40px;
  border: none;
  outline: none;
  width: 75vw; }

.trending_inicial {
  text-align: center;
  color: #572ee5;
  width: 50%;
  margin-top: 30px; }
  .trending_inicial h2, .trending_inicial p {
    color: #572EE5; }
    body.dark .trending_inicial h2, body.dark .trending_inicial p {
      color: white; }

/* Busqueda de gifos */
.search {
  text-align: center; }
  .search h2 {
    color: #572ee5;
    font-family: "Montserrat"; }
  .search .search_nothing img {
    margin-top: 14%;
    margin-bottom: 4%; }
  .search .search_nothing p {
    color: #50e3c2;
    font-family: "Montserrat"; }

/*Home Page y footer*/
/*Home Page*/
body.dark {
  background: #37383C 100%; }

/*footer*/
body .pieDePagina {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 47px;
  font-size: 15px; }

body .pieDePagina .redes .redesLogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none; }

body .pieDePagina h3 {
  color: black; }
  body.dark body .pieDePagina h3 {
    color: white; }

body .pieDePagina p {
  color: black;
  margin-top: 20px; }
  body.dark body .pieDePagina p {
    color: white; }

body .pieDePagina .redes .redesLogos li {
  margin: 15px; }

.margen {
  margin-top: 23px;
  background-color: #572EE5;
  width: 100%;
  height: 5px; }

/* Seccion crear gif */
.gif_create {
  width: 80%;
  margin: auto; }
  .gif_create .media_container {
    display: flex; }
    .gif_create .media_container .camera {
      display: flex; }
      .gif_create .media_container .camera .camera_light {
        margin-top: 2%; }
    .gif_create .media_container .gif_container {
      border: 3px solid #572ee5;
      width: 688px;
      height: 390px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; }
      .gif_create .media_container .gif_container .angles_up .angle_1 {
        width: 25px;
        height: 25px;
        border: 2px solid #50e3c2;
        border-bottom: none;
        border-right: none; }
      .gif_create .media_container .gif_container .angles_up .angle_2 {
        width: 25px;
        height: 25px;
        border: 2px solid #50e3c2;
        border-top: none;
        border-right: none; }
      .gif_create .media_container .gif_container .gif_txt h2 {
        color: #572ee5;
        font-family: "Montserrat"; }
        .gif_create .media_container .gif_container .gif_txt h2 .word {
          color: #50e3c2; }
      .gif_create .media_container .gif_container .gif_txt p {
        color: black;
        font-family: "Roboto"; }
      .gif_create .media_container .gif_container .angles_down .angle_3 {
        width: 25px;
        height: 25px;
        border: 2px solid #50e3c2;
        border-left: none;
        border-bottom: none; }
      .gif_create .media_container .gif_container .angles_down .angle_4 {
        width: 25px;
        height: 25px;
        border: 2px solid #50e3c2;
        border-left: none;
        border-top: none; }
      .gif_create .media_container .gif_container #myRecord {
        height: 340px;
        margin: auto; }
  .gif_create .steps_container {
    display: flex;
    justify-content: center; }
    .gif_create .steps_container .steps {
      margin-top: 3%; }
      .gif_create .steps_container .steps .step {
        color: #572ee5;
        font-family: "Roboto";
        font-weight: bold;
        background: none;
        border: 1px solid #572ee5;
        border-radius: 50%;
        width: 32px;
        height: 32px; }
      .gif_create .steps_container .steps .step_active {
        color: white;
        background-color: #572ee5; }
  .gif_create .line_btn {
    text-align: center; }
    .gif_create .line_btn .line_container {
      display: flex;
      justify-content: center;
      margin: 2% 0%; }
      .gif_create .line_btn .line_container hr {
        height: 7px;
        width: 795px;
        border: 1px solid #572ee5;
        background-color: #572ee5;
        border-radius: 50px; }
    .gif_create .line_btn .btn_gif {
      color: #572ee5;
      background: none;
      border: 1px solid #572ee5;
      border-radius: 25px;
      width: 127px;
      height: 50px; }

/*# sourceMappingURL=style.css.map */
